/*header logo & title*/
.logo-block-group {
	position: relative;
}

.logo-block-group .wp-block-site-tagline {
	margin-top: -5px;
	font-size: 118%;
}

.logo-block-group .wp-block-site-title {
	margin-top: 10px;
}

.logo-block-group .wp-block-site-logo {
	position: absolute;
	left: -77px;
	top: -15px;
}

.logo-block-group .wp-block-site-logo img.custom-logo {
	width: 65px;
}
.tiffin-header-nav ul.has-background {
	padding: 0;
}
/*page template*/
.wp-block-group.tiffin-page-title {
	position: relative;
}
.wp-block-group.tiffin-page-title .alignleft.wp-block-post-featured-image {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: calc( ( 100% - 1080px ) / 8 );
	width: auto;
	margin-top: 55px;
}
details.wp-block-details > summary {
	font-weight: bold;
	font-size: 110%;
}
.home.page details.wp-block-details {
	font-size: clamp(0.929rem, 0.929rem + ((1vw - 0.2rem) * 0.785), 1.4rem);
}
/*footer*/
.footer-site-title .wp-block-site-tagline {
	margin-top: -16px;
}

@media (max-width:1860px) {
	.wp-block-group.tiffin-page-title .alignleft.wp-block-post-featured-image {
		margin-left: 2em;
	}
}

@media (max-width:1680px) {
	.wp-block-group.tiffin-page-title .alignleft.wp-block-post-featured-image {
		display:none;
	}
}

@media (max-width:1080px) {
	.logo-block-group .wp-block-site-logo {
		left: -60px;
	}
	.logo-block-group .wp-block-site-logo img.custom-logo {
		width: 55px;
	}	
}
@media (max-width:820px) {
	header > .tiffin-header-group {
		padding-left: 70px;
	}
}
@media (max-width:600px){
	.home .tiffin-header-image{
		display: none;
	}
}
@media (max-width: 400px) {
	.logo-block-group .wp-block-site-title {
		font-size: 1.8rem;
	}
	.logo-block-group .wp-block-site-tagline {
		font-size: 108%;
	}